streamlit
PyPDF2
pytesseract
Pillow
langdetect
beautifulsoup4
wikipedia
openai
requests
opencv-python
opencv-python-headless
rembg
onnxruntime
streamlit==1.35.0
PyPDF2==3.0.1
requests==2.31.0
googletrans==4.0.0-rc1


