streamlit==1.35.0
PyPDF2==3.0.1
pytesseract
Pillow
langdetect==1.0.9
beautifulsoup4
wikipedia==1.4.0
openai
requests==2.31.0
opencv-python
opencv-python-headless
rembg
onnxruntime
googletrans==4.0.0-rc1
streamlit-drawable-canvas
streamlit-authenticator
